/Tracer/nbproject/private/
.DS_Store
Plan for Indexer.pages
/Tracer/build/
/Documentation/
/Tracer/.DS_Store
/Group Functions/.DS_Store
/TracerFX/nbproject/private/
/TracerFX/dist/
/TracerFX/build/
/FXML-LoginDemo/nbproject/private/
/FXML-LoginDemo/build/
/FXML-LoginDemo/dist/